* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    background-color: black;
    color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 18fr 53fr 28fr;
    align-items: center;
    padding: 14px 0;

    .navbar-section-1 {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 1em 2em;
    }

    .navbar-section-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 4em;

        div {
            display: flex;
            gap: 6px;
            background-color: white;
            padding: 6px;
            border-radius: 10px;
            width: 60%;

            img {
                width: 5%;
            }
            
            input {
                border: none;
                font-size: 16px;
                color: black;
                background-color: white;
                outline: none;
            }
        }
    }

    .navbar-section-3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        img {
            width: 8%;
        }
    }
}

.main-grid {
    display: grid;
    grid-template-columns: 18fr 53fr 28fr;

    .main-div-1 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 4em 2em;

        .dashboard-section-1 {
            background-image: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 28px;
            padding: 10px;
            color: black;
            border-radius: 14px;

            img {
                width: 20%;
            }

            h3 {
                font-weight: 100;
                letter-spacing: 2px;
                opacity: 0.7;
            }
        }

        .dashboard-section-2 {
            display: flex;
            flex-direction: column;
            gap: 14px;

            div {
                display: flex;
                align-items: center;
                gap: 1em;
                padding: 0 10px;

                img {
                    width: 20%;
                }

                h3 {
                    opacity: 0.7;
                }
            }
        }

        .logout {
            position: absolute;
            bottom: -13%;
            left: 0;
            padding: 2em 3em;
            display: flex;
            align-items: center;
            gap: 14px;

            img {
                width: 20%;
            }
        }
    }

    .main-div-3 {

        .title-transaction {
            font-size: 20px;
            margin-left: 1em;
        }

        .transaction-section {
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 12px 18px;
            margin-bottom: 20px;
            .transaction-section-main {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-between;

                .part-logo-transaction {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                    
                    div {
                        display: flex;
                        flex-direction: column;
                        h3 {
                            font-size: 14px;
                            opacity: 0.7;
                        }
                    }

                    .white {
                        opacity: 1;
                    }
                }

                .part-span-transaction {
                    font-size: 14px;

                    span {
                        color: #4AD619;
                    }

                    h3 {
                        opacity: 0.7;
                    }
                }
            }
        }

        .assets-section {
            padding: 12px 18px;

            h3 {
                margin-bottom: 10px;
            }

            .bitcoin {
                background-image: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
                margin-bottom: 20px;
                padding: 14px;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                gap: 6px;

                img {
                    width: 14%;
                }

                div {
                    display: flex; 
                    justify-content: space-between;
                }
            }

            .etherum {
                background-image: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
                margin-bottom: 20px;
                padding: 14px;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                color: black;

                img {
                    width: 51.19px;
                    height: 51.9px;
                    object-fit: contain;
                }

                div {
                    display: flex; 
                    justify-content: space-between;
                }
            }
        }
    }

    .main-div-2 {
        .graph-section-1 {
            display: flex;
            align-items: center;
            gap: 6em;
            margin-bottom: 16px;

            .graph-btn-div1 {
                display: flex;
                flex-direction: column;
                gap: 16px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        background-color: #FAFF00;
                        padding: 4px 8px;
                        border-radius: 6px;
                        font-size: 10px;
                        color: black;
                    }
                }

                h4 {
                    opacity: 0.7;
                }
            }

            .graph-btn-div2 {
                background-color: #292727;
                padding: 6px 14px;
                border-radius: 12px;

                button {
                    color: white;
                    padding: 4px 8px;
                    border-radius: 10px;
                    background-color: #292727;
                    border: none;
                }

                .btn1 {
                    background-color: #0D0C0C;
                }
            }
        }

        .graph-section-2 {
            height: 400px;
            background-color: #303541AB;
            border-radius: 30px;
        }

        .graph-section-3 {
            .graph-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 16px;
                margin-bottom: 20px;
            }

            .recent-bitcoin {
                background-color: #303541AB;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 20px;
                border-radius: 20px;
                margin-bottom: 20px;

                .icon {
                    width: 30px;
                }

                p {
                    font-size: 14px;
                }

                span {
                    font-size: 14px;
                }

                .span-1 {
                    color: #1970D6;
                }

                .span-2 {
                    color: #4AD619;
                }
            }

            .recent-etherum {
                background-color: #303541AB;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 20px;
                border-radius: 20px;

                .icon {
                    width: 30px;
                }

                p {
                    font-size: 14px;
                }

                span {
                    font-size: 14px;
                }

                .span-1 {
                    color: #6C1182;
                }

                .span-2 {
                    color: #D61919;
                }
            }
        }
    }
}